* {margin:0 auto}
body {
	background: rgba(0, 0, 0, 1);
	/* background:rgba(0, 0, 0, 1) url(../img/bk1.jpg) no-repeat fixed center !important; */
	width: 100%; 
	height: 100%;
}
canvas {
	display: block;
}
.clock_main {
	position: absolute;
	float: left;
	z-index: 1;
}
.top {
	width: 100%;
	height: 15%;
	text-align: center;
	color: rgba( 255, 255, 255, 1);
}
.clock_body {
	width: 100%;
	height: 80%;
}
.bottom {
	width: 100%;
	height: 5%;
}
.clock_board {
	/* background: rgba(255, 255, 255, 0.8);
	color: rgba(105, 105, 105, 0.9); 
	border: 2px solid rgba(255, 255, 255, 0.6);
	box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.8);
	*/
	font-family: "arial, helvetica, sans-serif"; 
	position: relative;
	float: left;
	display: block;
	text-align: center;
	display: none;
}
.clear{
	clear: both;
}
.signature{
	color : rgba( 255, 255, 255, 0.5);
	line-height : 100%;
	font-family: "arial, helvetica, sans-serif";
	font-style: italic; 
	float : right;
	display: inline-block;
	-webkit-animation: signatureDisplay 3.5s linear;
	-moz-animation: signatureDisplay 3.5s linear;
	-o-animation: signatureDisplay 3.5s linear;
	animation: signatureDisplay 3.5s linear;
	margin-top: -20px;
}

.date_board{
	color : rgba( 255, 255, 255, 0.5);
	letter-spacing: 10px;
	width: 100%;
	text-align: center;
	font-family: "Impact, Charcoal, sans-serif"; 
	display: inline-block;
	-webkit-animation: dateDisplay 3.5s linear;
	-moz-animation: dateDisplay 3.5s linear;
	-o-animation: dateDisplay 3.5s linear;
	animation: dateDisplay 3.5s linear;
	margin-top: 90px;
	padding-bottom: 10px;
	border-bottom: 2px solid;
	border-image: -webkit-linear-gradient(left, rgba(255, 0, 0, 0.2), rgba(255, 156, 0, 0.2), rgba(255, 255, 0, 0.2), rgba(0, 255, 0, 0.2), rgba(0, 255, 255, 0.2), rgba(0, 0, 255, 0.2), rgba(255, 0, 255, 0.2)) 1 1;
    border-image: -moz-linear-gradient(right, rgba(255, 0, 0, 0.2), rgba(255, 156, 0, 0.2), rgba(255, 255, 0, 0.2), rgba(0, 255, 0, 0.2), rgba(0, 255, 255, 0.2), rgba(0, 0, 255, 0.2), rgba(255, 0, 255, 0.2)) 1 1;
    border-image: -o-linear-gradient(right, rgba(255, 0, 0, 0.2), rgba(255, 156, 0, 0.2), rgba(255, 255, 0, 0.2), rgba(0, 255, 0, 0.2), rgba(0, 255, 255, 0.2), rgba(0, 0, 255, 0.2), rgba(255, 0, 255, 0.2)) 1 1;
	border-image: linear-gradient(to right, rgba(255, 0, 0, 0.2), rgba(255, 156, 0, 0.2), rgba(255, 255, 0, 0.2), rgba(0, 255, 0, 0.2), rgba(0, 255, 255, 0.2), rgba(0, 0, 255, 0.2), rgba(255, 0, 255, 0.2)) 1 1;
}

#playButton:hover {
	cursor: pointer;
	color: rgba( 255, 255, 255, 1);
}
.clock_board:hover {
	-webkit-animation: boardAnimationDisplay 2s linear infinite;
	-moz-animation: boardAnimationDisplay 2s linear infinite;
	-o-animation: boardAnimationDisplay 2s linear infinite;
	animation: boardAnimationDisplay 2s linear infinite;
}

@-webkit-keyframes signatureDisplay{
	0%{
		margin-top: -80px;
		color : rgba( 255, 255, 255, 0);
	}
	100%{
		margin-top: -20px;
		color : rgba( 255, 255, 255, 0.5);
	}
}
@-moz-keyframes signatureDisplay{
	0%{
		margin-top: -80px;
		color : rgba( 255, 255, 255, 0);
	}
	100%{
		margin-top: -20px;
		color : rgba( 255, 255, 255, 0.5);
	}
}
@-o-keyframes signatureDisplay{
	0%{
		margin-top: -80px;
		color : rgba( 255, 255, 255, 0);
	}
	100%{
		margin-top: -20px;
		color : rgba( 255, 255, 255, 0.5);
	}
}
@keyframes signatureDisplay{
	0%{
		margin-top: -80px;
		color : rgba( 255, 255, 255, 0);
	}
	100%{
		margin-top: -20px;
		color : rgba( 255, 255, 255, 0.5);
	}
}

@-webkit-keyframes dateDisplay{
	0%{
		margin-top: 180px;
		color : rgba( 255, 255, 255, 0);
	}
	90%{
		margin-top: 90px;
		color : rgba( 255, 255, 255, 0.5);
		border-image: -webkit-linear-gradient(left, rgba(255, 0, 0, 0.1), rgba(255, 156, 0, 0.1), rgba(255, 255, 0, 0.1), rgba(0, 255, 0, 0.1), rgba(0, 255, 255, 0.1), rgba(0, 0, 255, 0.1), rgba(255, 0, 255, 0.1)) 1 1;
		border-bottom: 2px solid;
	}
	100%{
		margin-top: 90px;
		color : rgba( 255, 255, 255, 0.5);
		border-image: -webkit-linear-gradient(left, rgba(255, 0, 0, 0.2), rgba(255, 156, 0, 0.2), rgba(255, 255, 0, 0.2), rgba(0, 255, 0, 0.2), rgba(0, 255, 255, 0.2), rgba(0, 0, 255, 0.2), rgba(255, 0, 255, 0.2)) 1 1;
		border-bottom: 2px solid;
	}
}
@-moz-keyframes dateDisplay{
	0%{
		margin-top: 180px;
		color : rgba( 255, 255, 255, 0);
	}
	90%{
		margin-top: 90px;
		color : rgba( 255, 255, 255, 0.5);
		border-image: -moz-linear-gradient(right, rgba(255, 0, 0, 0.1), rgba(255, 156, 0, 0.1), rgba(255, 255, 0, 0.1), rgba(0, 255, 0, 0.1), rgba(0, 255, 255, 0.1), rgba(0, 0, 255, 0.1), rgba(255, 0, 255, 0.1)) 1 1;
		border-bottom: 2px solid;
	}
	100%{
		margin-top: 90px;
		color : rgba( 255, 255, 255, 0.5);
		border-image: -moz-linear-gradient(right, rgba(255, 0, 0, 0.2), rgba(255, 156, 0, 0.2), rgba(255, 255, 0, 0.2), rgba(0, 255, 0, 0.2), rgba(0, 255, 255, 0.2), rgba(0, 0, 255, 0.2), rgba(255, 0, 255, 0.2)) 1 1;
		border-bottom: 2px solid;
	}
}
@-o-keyframes dateDisplay{
	0%{
		margin-top: 180px;
		color : rgba( 255, 255, 255, 0);
	}
	90%{
		margin-top: 90px;
		color : rgba( 255, 255, 255, 0.5);
		border-image: -o-linear-gradient(right, rgba(255, 0, 0, 0.1), rgba(255, 156, 0, 0.1), rgba(255, 255, 0, 0.1), rgba(0, 255, 0, 0.1), rgba(0, 255, 255, 0.1), rgba(0, 0, 255, 0.1), rgba(255, 0, 255, 0.1)) 1 1;
		border-bottom: 2px solid;
	}
	100%{
		margin-top: 90px;
		color : rgba( 255, 255, 255, 0.5);
		border-image: -o-linear-gradient(to right, rgba(255, 0, 0, 0.2), rgba(255, 156, 0, 0.2), rgba(255, 255, 0, 0.2), rgba(0, 255, 0, 0.2), rgba(0, 255, 255, 0.2), rgba(0, 0, 255, 0.2), rgba(255, 0, 255, 0.2)) 1 1;
		border-bottom: 2px solid;
	}
}
@keyframes dateDisplay{
	0%{
		margin-top: 180px;
		color : rgba( 255, 255, 255, 0);
	}
	90%{
		margin-top: 90px;
		color : rgba( 255, 255, 255, 0.5);
		border-image: linear-gradient(to right, rgba(255, 0, 0, 0.1), rgba(255, 156, 0, 0.1), rgba(255, 255, 0, 0.1), rgba(0, 255, 0, 0.1), rgba(0, 255, 255, 0.1), rgba(0, 0, 255, 0.1), rgba(255, 0, 255, 0.1)) 1 1;
		border-bottom: 2px solid;
	}
	100%{
		margin-top: 90px;
		color : rgba( 255, 255, 255, 0.5);
		border-image: linear-gradient(to right, rgba(255, 0, 0, 0.2), rgba(255, 156, 0, 0.2), rgba(255, 255, 0, 0.2), rgba(0, 255, 0, 0.2), rgba(0, 255, 255, 0.2), rgba(0, 0, 255, 0.2), rgba(255, 0, 255, 0.2)) 1 1;
		border-bottom: 2px solid;
	}
}

@-webkit-keyframes boardAnimationDisplay{
	0%{
		border: 2px solid rgba(255, 255, 255, 1);
	}
	50% {
		border: 2px solid rgba(255, 255, 255, 0.4);
	}
	100%{
		border: 2px solid rgba(255, 255, 255, 1);
	}	
}
@-moz-keyframes boardAnimationDisplay{
	0%{
		border: 2px solid rgba(255, 255, 255, 1);
	}
	50% {
		border: 2px solid rgba(255, 255, 255, 0.4);
	}
	100%{
		border: 2px solid rgba(255, 255, 255, 1);
	}	
}
@-o-keyframes boardAnimationDisplay{
	0%{
		border: 2px solid rgba(255, 255, 255, 1);
	}
	50% {
		border: 2px solid rgba(255, 255, 255, 0.4);
	}
	100%{
		border: 2px solid rgba(255, 255, 255, 1);
	}	
}
@keyframes boardAnimationDisplay{
	0%{
		border: 2px solid rgba(255, 255, 255, 1);
	}
	50% {
		border: 2px solid rgba(255, 255, 255, 0.4);
	}
	100%{
		border: 2px solid rgba(255, 255, 255, 1);
	}	
}
/*
.clock_board:hover {
	border: 2px solid rgba(40, 78, 226, 0.6) !important;
	/* border: 2px solid rgba(155, 155, 155, 0.5) !important; *、
}
*/

